@import "tailwindcss";

@layer base {
  html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    color-scheme: dark;
    background-color: #0b0c10;
    color: #f3f4f6;
  }
}

/* Custom crisp dark scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #101117;
}
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}
